{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="PLANEKS">
        {% block extra_meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="canonical" href="{{ request.path }}">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'django-icon.jpeg' %}">
        <link rel="shortcut icon" href="{% static 'django-icon.jpeg' %}">

        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-6.1.1-web/css/all.min.css' %}">
        <script src="{% static 'vendor/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/fontawesome-free-6.1.1-web/js/all.min.js' %}"></script>
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% include "_header.html" %}
        {% if messages %}
            <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
                {% for message in messages %}
                <div class="toast show align-items-center text-white bg-{{ message.tags }} border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% block base_content %}
        <div class="container mt-4">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
        <script src="{% static 'message_toast.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>