{% extends "base.html" %}
{% load static %}

{% block title %}Upload CSV{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header" style="background-color: #6c757d; color: #f8f9fa;">
                    <h3 class="mb-0">Upload CSV File</h3>
                </div>
                <div class="card-body" style="background-color: #f8f9fa;">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn w-100" style="background-color: #5cb85c; color: #fff;">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}