{% extends "accounts/base_profile.html" %}
{% load i18n static core_tags %}

{% block title %}{% trans "Personal information" %}{% endblock %}

{% block profile_content %}
<div class="row">
    <div class="col-md-8">
        <h3>{% trans "Profile" %}</h3>

        <table class="table table-bordered">
            <tr>
                <td>{% trans "Name" %}</td>
                <td>{{ request.user.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Email" %}</td>
                <td>
                    <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a>
                    {% if not request.user.is_verified %}
                        <span class="badge bg-warning text-dark ms-2">{% trans "Not verified" %}</span>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <a href="{% url 'edit_personal_information' %}" class="btn btn-secondary w-100">
            {% trans "Edit profile" %}
        </a>
    </div>
    <div class="col">
        <a href="{% url 'password_reset' %}" class="btn btn-secondary w-100" style="background-color: #ff0000; color: white; border-color: #ff0000;">
            {% trans "Reset password" %}
        </a>
    </div>
</div>

{% endblock %}
