{% extends "base.html" %}
{% load static core_tags %}

{% block title %}My Set{% endblock %}

{% block content %}
<div class="container">
    <div class="modal fade" id="manageSharedLinksModal" tabindex="-1" aria-labelledby="manageSharedLinksModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageSharedLinksModalLabel">Manage Shared Links</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="accordion" id="projectsAccordion">
                        <!-- Shared links will be populated here dynamically -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center my-3">
        <!-- Buttons to manage sets -->
        <div>
            <button class="btn btn-secondary">Private</button>
            <button class="btn btn-secondary">Public</button>
            <button class="btn btn-primary" onclick="window.location.href='{% url 'project_set_list' %}'">
                My sets
            </button>
        </div>
        <div class="d-flex gap-2">
            <button class="btn btn-warning manage-shared-links">Manage Shared Links</button>
            <button class="btn btn-danger">Delete all</button>
        </div>
    </div>
    <!-- Sets List -->
    {% for project_set in project_sets %}
    <div class="card shadow-sm mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">{{ project_set.title }}</h3>
            <div>
                <input type="text" class="form-control d-none rename-input" data-project-set-id="{{ project_set.id }}"
                    placeholder="Enter new name">
                <button class="btn btn-link text-primary rename-project-set"
                    data-project-set-id="{{ project_set.id }}">Rename</button>
                <button class="btn btn-link text-danger delete-project-set"
                    data-project-set-id="{{ project_set.id }}">Delete</button>
                <button class="btn btn-link share-project-set" data-project-set-id="{{ project_set.id }}">Share</button>
                <button class="btn btn-link text-primary toggle-svg" data-bs-toggle="collapse"
                    data-bs-target="#project-set-{{ project_set.id }}" aria-expanded="false">
                    <svg id="svg-icon-{{ project_set.id }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" width="24" height="24" class="text-black">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                    </svg>
                </button>
            </div>
        </div>
        <div id="project-set-{{ project_set.id }}" class="collapse">
            <div class="card-body">
                {% for project in project_set.projects.all %}
                <div class="project-item mb-3 p-3 border rounded" data-project-id="{{ project.id }}">
                    <form class="edit-form">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>
                                <span class="editable-title">{{ project.title }}</span>
                                <small class="text-muted is-original-project" name="is-original-project">
                                    {% if project.is_diff_from_original %}
                                    updated
                                    {% else %}original{% endif %}</small>
                            </h5>
                        </div>

                        <p><strong>Industries:</strong>
                            <span class="editable-industries">
                                {% for industry in project.industries.all %}
                                {{ industry }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        </p>

                        <p><strong>Description:</strong>
                            <span class="editable-description">
                                {% if project.description|length > 200 %}
                                {{ project.description|slice:":200" }}
                                <span class="dots"> ... </span>
                                <span class="more-text" style="display: none;">
                                    {{ project.description|slice:"200:"}}</span>
                                <button class="btn btn-link show-description" data-project-id="{{ project.id }}"
                                    data-state="hidden">Show</button>
                                {% else %}
                                {{ project.description }}
                                {% endif %}
                            </span>
                        </p>


                        <p><strong>Technologies:</strong>
                            <span class="editable-technologies">
                                {% for tech in project.technologies.all %}
                                {{ tech }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        </p>

                        <p><strong>URL:</strong>
                            <a href="{{ project.url }}" target="_blank" class="editable-url">{{ project.url }}</a>
                        </p>

                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-link text-primary edit-project me-2">Edit</button>
                            <button type="button" class="btn btn-danger delete-project me-2"
                                data-project-id="{{ project.id }}"
                                data-project-set-id="{{ project_set.id }}">Delete</button>
                            <button type="submit" class="btn btn-success d-none save-project me-2">Save</button>
                            <button class="cancel-edit btn btn-secondary d-none">Cancel</button>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'ajax_sets.js' %}" defer></script>
{% endblock %}